<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Admin | Add product</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAsset/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAsset/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/adminAsset/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link " href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminAddProduct"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminTransactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-add_circle"></i>
                        <span class="text">ADD</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/getAdminCategories">Add Categories</a>
                        <a href="/admin/adminAddCoupon">Add Coupon</a>
                        <a href="/admin/adminAddBanner">Add Banner</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminReviews"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminBrands"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/adminStatistics"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminSettings"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <li class="menu-item disabled">
                    <a class="menu-link" href="/admin/adminStarterPage"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAsset/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                    </div>
                </div>
            <!-- Add product form -->
            <form method="post" action="/admin/postAdminAddProduct" enctype="multipart/form-data">
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Product details</h4>
                            </div>
                            <div class="card-body">
                                    <div class="mb-4">
                                        <label for="productName" class="form-label">Product name</label>
                                        <input type="text" placeholder="Type here..." class="form-control" name="productName" id="productName">
                                        <div class="text-danger" id="validateProductName" style="display: none;">Please add valid product name</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="productBrand" class="form-label">Product brand</label>
                                        <input type="text" placeholder="Type here..." class="form-control" name="productBrand" id="productBrand">
                                        <div class="text-danger" id="validateProductBrand" style="display: none;">Please add valid product brand</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Size</label>
                                                <select class="form-select" name="productSize">
                                                    <option> 55 inches </option>
                                                    <option> 65 inches </option>
                                                    <option> 75 inches </option>
                                                    <option> 85 inches </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Resolution</label>
                                                <select class="form-select" name="productResolution">
                                                    <option> 720p </option>
                                                    <option> 1080p </option>
                                                    <option> 4K </option>
                                                    <option> 8K </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="productStock" class="form-label">Stock</label>
                                            <input type="number" placeholder="Type here..." class="form-control" name="productStock" id="productStock">
                                            <div class="text-danger" id="validateProductStock" style="display: none;">Please add valid product brand</div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" name="productCategory">
                                            <% category.forEach((categ) => { %>
                                                <% if( categ.status === "Active" ) { %>
                                                    <option><%= categ.categoryName %></option>
                                                <% } %>
                                            <% }) %>
                                        </select>                                
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea placeholder="Type here" class="form-control" id="productDescription" name="productDescription" rows="4"></textarea>
                                        <div class="text-danger" id="validateProductDescription" style="display: none;">Please add valid product description</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Regular price</label>
                                                <input placeholder="₹" type="number" name="productPrice" id="productPrice" class="form-control">
                                                <div class="text-danger" id="validateProductPrice" style="display: none;">Please add valid product regular price</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Promotional price</label>
                                                <input placeholder="₹" type="number" id="productPromoPrice" name="productPromoPrice" class="form-control">
                                                <div class="text-danger" id="validateProductPromoPrice" style="display: none;">Please add valid product promotional price</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Status</label>
                                                <select class="form-select" name="productStatus">
                                                    <option> unblock </option>
                                                    <option> block </option>
                                                </select>                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- card end// -->
                        </div>
                        
                        <div class="col-lg-3">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Product image</h4>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="/adminAsset/imgs/theme/upload.svg" alt="">
                                        <input id="adminAddProductImage" class="form-control" name="adminAddProductImage" multiple="multiple" type="file" required>
                                    </div>
                                </div>
                            </div> <!-- card end// -->
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                    </div>
                </div>
                <!-- form end -->

            </form>
        </section> <!-- content-main end// -->

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/adminAsset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAsset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAsset/js/vendors/select2.min.js"></script>
    <script src="/adminAsset/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAsset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAsset/js/main.js" type="text/javascript"></script>
</body>


<script>
    document.addEventListener("DOMContentLoaded", function(){
    document.querySelector('form[action="/admin/postAdminAddProduct"]').addEventListener('submit', function(event){
        
        const productName = document.querySelector('#productName').value;
        const productBrand = document.querySelector('#productBrand').value;
        const productStock = document.querySelector('#productStock').value;
        const productDescription = document.querySelector('#productDescription').value;
        const productPrice = document.querySelector('#productPrice').value;
        const productPromoPrice = document.querySelector('#productPromoPrice').value;

        if(productName.trim() === ''){
            document.getElementById('validateProductName').style.display = 'block';
            event.preventDefault();
        }else{
            document.getElementById('validateProductName').style.display = 'none';
        }

        if(productBrand.trim() === ''){
            document.getElementById('validateProductBrand').style.display = 'block';
            event.preventDefault();
        }else{
            document.getElementById('validateProductBrand').style.display = 'none';
        }

        if(productStock.trim() === ''){
            document.getElementById('validateProductStock').style.display = 'block';
            event.preventDefault();
        }else{
            document.getElementById('validateProductStock').style.display = 'none';
        }

        if(productDescription.trim() === ''){
            document.getElementById('validateProductDescription').style.display = 'block';
            event.preventDefault();
        }else{
            document.getElementById('validateProductDescription').style.display = 'none';
        }

        if(productPrice.trim() === ''){
            document.getElementById('validateProductPrice').style.display = 'block';
            event.preventDefault();
        }else{
            document.getElementById('validateProductPrice').style.display = 'none';
        }

        if(productPromoPrice.trim() === ''){
            document.getElementById('validateProductPromoPrice').style.display = 'block';
            event.preventDefault();
        }else{
            document.getElementById('validateProductPromoPrice').style.display = 'none';
        }
    });
});

</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>