<%- include('../Partials/userHeader')  -%>

<div class="container pt-50">
    <div class="row">
        <div class="col-lg-10 m-auto">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6" style="margin: 100px 0;">
                    <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 class="mb-10 ">Enter your email</h3>
                            </div>
                            <% if(locals.invalidEmail){ %>
                                <div class="alert alert-success">Email doesn't exist</div>
                            <% } %>
                            <% if(locals.invalidOTP){ %>
                                <div class="alert alert-danger"> Invalid OTP </div>
                            <% } %>
                            <% if( locals.emailDoesNotExist ){ %>
                                <div class="alert alert-danger">Please Check your email</div>
                            <% } %>

                            <form method="post" action="/sendResetPassword">
                                <div class="form-group">
                                    <input type="email" id="ULEmail" name="ULEmail" placeholder="Your Email" required="true">
                                </div>
                                <div class="form-group" style="display: flex; justify-content: center;">
                                    <button type="submit" id="loginButton" class="btn btn-fill-out btn-block hover-up" name="login" style="width: 300px;">Send OTP</button>
                                </div>
                                <div class="text-muted text-center">Don't have an account? <a href="/userSignup">Sign up now</a></div>
                            </form> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</div>
</section>
</main>





<%- include('../Partials/userFooter')  -%>